page-courses {

    .body {
        margin-left: 1%;
    }

    #menu {
        background-color: #336688;
        color: white;
    }

    #butt {
        background: #336688;
    }

    #data {
        box-shadow: 0 0 5px gray;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 2%;
    }

    #avatar {
        height: 5vw; 
        width: 5vw; 
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    #cour {
        margin-left: 5%;
        font-size: 16px;
    }

    #courses_list {
        font-size: 20px;
        color: #336688;
        text-align: center
    }

    #bachelor {
        font-size: 15px;
        color: rgb(0, 0, 0);
        text-align: center;
    }

}
